<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/css/style.css">
  <title>Mercado Liebre | Refactorized</title>
</head>

<body>
  <header>
    <!-- Header Top -->
    <section class="header-top">
      <div class="header-top__logo">
        <img src="images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
      </div>
      <div class="header-top__search">
        <input class="search-box" type="text" placeholder="Buscar productos, marcas...">
        <button class="search-logo" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="header-top__buy">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <p>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </div>
    </section>
    <!-- Header Bottom -->
    <section class="header-bottom">
      <!-- Header left-->
      <div class="header-bottom__left">
        <ul class="header-bottom__ul">
          <li><a class ="header-bottom__li" href="#">Ofertas</a></li>
          <li><a class ="header-bottom__li" href="#">Tiendas Oficiales</a></li>
          <li><a class ="header-bottom__li" href="#">Vender</a></li>
          <li><a class ="header-bottom__li" href="#">Ayuda</a></li>
        </ul>
      </div>
      <!-- Header right -->
      <div class="header-bottom__right">
        <ul class="header-bottom__ul">
          <li><a class ="header-bottom__li" href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
          <li><a class ="header-bottom__li" href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
          <li><a class ="header-bottom__li" href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </div>
    </section>
    <!-- Burger -->
    <section class="burger">
      <nav class="burger-icon">
        <i class="fas fa-bars"></i>
      </nav>
    </section>
  </header>
  <main>
    <!-- Banner-->
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <!-- Products -->
    <section class="products">
      <h2>Basado en tu última visita</h2>
      <article class="products-item">
        <div class="products-item__image">
          <img src="images/img-cafetera-moulinex.jpg" alt="">
        </div>
        <div class="products-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="price">$6.770</p>
          <p class="discount">40% OFF</p>
        </div>
        <div class="products-item__name">
        <h3>Cafetera Moulinex</h3>
      </div>
      </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$70.000</p>
            <p class="discount">5% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>Samsumg Galaxy S10</h3>
        </div>
        </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$100.000</p>
            <p class="discount">30% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
    <section class="products">
      <h2>Ofertas</h2>
      <article class="products-item">
        <div class="products-item__image">
          <img src="images/img-cafetera-moulinex.jpg" alt="">
        </div>
        <div class="products-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="price">$6.770</p>
          <p class="discount">40% OFF</p>
        </div>
        <div class="products-item__name">
        <h3>Cafetera Moulinex</h3>
      </div>
      </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$70.000</p>
            <p class="discount">5% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>Samsumg Galaxy S10</h3>
        </div>
        </article>
        <article class="products-item">
          <div class="products-item__image">
            <img src="images/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="products-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="price">$100.000</p>
            <p class="discount">30% OFF</p>
          </div>
          <div class="products-item__name">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
  </main>
  <footer>
    <!-- Footer-->
    <section class="footer">
      <article class="footer-info">
        <div class="footer-info__icon"><i class="fa-solid fa-credit-card"></i></div>
        <h3 class="footer-info__tittle">Pagá con tarjeta o en efectivo</h3>
        <p class="footer-info__text">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago ¡Y siemore es seguro!</p>
      </article>
      <article class="footer-info">
        <div class="footer-info__icon"><i class="fa-solid fa-gift"></i></div>
        <h3 class="footer-info__tittle">Envío gratis desde los $2.500</h3>
        <p class="footer-info__text">Solo por estar registrado@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
      </article>
      <article class="footer-info">
        <div class="footer-info__icon"><i class="fa-solid fa-user-shield"></i></div>
        <h3 class="footer-info__tittle">Seguridad de principio a fin</h3>
        <p class="footer-info__text">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque siempre estas protegid@</p>
      </article>
    </section>
    <p class="copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L</p>
  </footer>
</body>

</html>